@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #007bff;
    --bg-shadow: rgba(0,0,0,0.1);
    --bg-hover: #0056b3;
    --white: #fff;
    --mg-5: 5px;
    --mg-8: 8px;
    --mg-10: 10px;
    --mg-16: 16px;
    --mg-18: 18px;
    --mg-20: 20px;
    --mg-30: 30px;
    --mg-600: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

#quiz-container{
    max-width: var(--mg-600);
    margin: auto;
    padding: var(--mg-20);
    border: 1px solid #ddd;
    border-radius: var(--mg-8);
    box-shadow: 0 2px 4px var(--bg-shadow);
}

#quiz-question {
    font-size: var(--mg-20);
    margin-bottom: var(--mg-20);
}

input[type="radio"] {
    margin-right: var(--mg-10);
}

label {
    margin-right: var(--mg-30);
    cursor: pointer;
}

#submit-answer {
    display: block;
    margin-top: var(--mg-20);
    padding: var(--mg-10) var(--mg-20);
    background-color: var(--bg-color);
    color: var(--white);
    border: none;
    border-radius: var(--mg-5);
    cursor: pointer;
    font-size: var(--mg-16);
}

#submit-answer:hover {
    background-color: var(--bg-hover);
}

#feedback {
    margin-top: var(--mg-20);
    font-size: var(--mg-18);
    font-style: italic;
}
